*,
::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-body-color);
}

:root {
    --main-body-color: antiquewhite;
    --main-bg-color: teal;
    --main-width-items: 300px;
    --main-height-items: 600px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0, 0, 0, 0)
}

p {
    width: 600px;
    margin: 0 auto;;
}


.list {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
}

.list__item{
    margin-left: 20px;
    position: relative;

    &:nth-child(1) {
        margin-left: 0;
    }
}

.list__link {
    display: inline-block;
    color: black;
    text-decoration: none;

    &::after {
        position: absolute;
        right: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: black;
        transition: all 0.4s ease;
        content: "";
        display: block;
    }
    &:hover::after {
        display: block;
        width: 100%;
        background-color: aqua;
    }
}

.controller {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    width: 100px;
    margin: 0 auto;
    
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // min-height: 40px;

    // text-align: center;
}

.input:checked ~ .label {
    background-color: greenyellow;
}

.input:checked ~ .label > .span {
    transform: translateX(40px);
}

.label {
    display: inline-block;
    width: 70px;
    height: 30px;
    padding: 2.5px;
    border-radius: 30px;
    background-color: #ccc;
    transition: all 0.5s ease;
    margin-bottom: 50px;
}

.span {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s ease;
}


.sub__span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-radius: 3px;
    transition: all 0.5s ease 0.2s;
}

.sub__input:checked ~ .sub__span {
    background-color: aqua;
}   

.sub__input:focus ~ .sub__span {
    box-shadow: 0 0 10px 0 aqua;
}


.arrow__up {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    position: fixed;
    right: 30px;
    bottom: 40px;
    background-color: whitesmoke;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}